/* branco: #F6F6F6
   Cinza: #2B2B2B;
   Vermelho: #FF1212;
*/
html, body {

	height: 100%;
	width: auto;
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

.container {
	width: auto;
	padding-top: 15%;
}


.col-sm-4 {
	background-color: #FF1212;
	text-align: center;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

.col-sm-12 {
	text-align: center;
	font-size: 100px;
	-webkit-transform: rotate(-7deg);
	font-family: 'PT Sans', sans-serif;
}


.col-sm-1  {
	padding-right: 0px;
	padding-bottom: 15px;
}

 .btn {
 	background-color: #FF1212;
 	font-size: 20px;
 	font-family: 'Oswald', sans-serif;
 	color: white;
 }

.btn:hover{
	background-color: #2B2B2B;
	font-size: 20px;
 	color: white;	
}

.by {
	font-size: 30px;
}

/*meus projetos*/

/* branco: #F6F6F6
   Cinza: #2B2B2B;
   Vermelho: #FF1212;
*/
html, body {
	height: auto;
	width: auto;
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

nav div {
	background-color: #FF1212;
}


nav ul li {
	font-size: 20px;
	position: relative;
}

#home {
	padding-left: 350px;
}

.menu:hover {
	color: black;
}

.menu {
	color: #F6F6F6;
	font-family: 'Oswald', sans-serif;
}

.menu: hover {
	background-color: black;
}

#site {
	color: black;
}

#title {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
}


.box {
	height: 20px;
	color: #F6F6F6;
}

#categoria{
	background-color: black;
	text-align: center;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	padding-top: 100px;
	padding-right: 130px;
	padding-bottom: 100px;	
	padding-left: 130px;
}

#categoria2{
	background-color: #FF1212;
	text-align: center;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	padding-top: 100px;
	padding-right: 130px;
	padding-bottom: 100px;	
	padding-left: 130px;
}

.description {
	color: black;
	font-family: 'Oswald', sans-serif;
}

.category_description {
	font-size: 15px;
	font-family: 'Oswald', sans-serif;
}
.sub_tile {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
}

.projetos {
	padding-left: 50px;
}

.prog_projects {
	padding-left: 50px;
	padding-bottom: 3px;
	padding-top: 3px; 
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

.subcat {
	padding-left: 10px;
}

.icon {
	display: inline-block;
}